<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ipa.zpyswl.cn/ipa/ios_QQ.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.mqq2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>v1</string>
				<key>title</key>
				<string>QQ增强版,获取更多资讯请添加“Alan中文源</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

