<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ipawj.nuosike.cn/ipa/YY/11.0-11.41_Electra.ipa</string>
				</dict>
<dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>https://ae01.alicdn.com/kf/Ue363afcfa8f049658a052700d0237bcbi.png</string>
     </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.coolstar.electra1141</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>v1</string>
				<key>title</key>
				<string>11.0-11.41(Electra)（Alan中文源）</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

