<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ipawj.nuosike.cn/ipa/noroot/nk8686kn53_%e7%88%b1%e5%a5%87%e8%89%ba.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.qiyi.iphone</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>v1</string>
				<key>title</key>
				<string>爱奇艺</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

